    {{> user-header}}
    <div class=" ovh rel pl10 pr10 mt10">
    <h1 class="title2">V-Shop Name 1</h1>
    <!--轮显图片-->
    <div class="topImg mb10">
    <div id="slider" class="swipe" style="visibility: visible;">
      <div class="swipe-wrap">
        <figure>
          <div class="wrap">
            <a class="image" style="background:url(images/u34.jpg) center no-repeat;background-size: cover;height:100%"> </a>
          </div>
        </figure>
        <figure>
          <div class="wrap">
            <a class="image" style="background:url(images/u236.jpg) center no-repeat;background-size: cover;height:100%"> </a>
          </div>
        </figure>
        <figure>
          <div class="wrap">
            <a class="image" style="background:url(images/u237.jpg) center no-repeat;background-size: cover;height:100%"> </a>
          </div>
        </figure>
        <figure>
          <div class="wrap">
            <a class="image" style="background:url(images/u238.jpg) center no-repeat;background-size: cover;height:100%"> </a>
          </div>
        </figure>
      </div>
    </div>
    <nav>
      <ul id="position" style="display:block">
        <li class="on"></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
    </nav>
  </div>
<p class="f16"><img src="css/images/hg-r.png" alt="" height="25px;" style="vertical-align:bottom" class="mr5">等级<b class="cr">LV8</b> <span class="r db lh25"><span class=" Vnav10 mb0 mr5 f18 dib"></span><span class="b cr">153</span></span></p>
</div>
     <!--以下是页面内容-->
    <div class="p10">
    <div class="inline_box pro">
      <div class="inline_two mb4 bd1"><a href="/pro-view"><img src="images/A010_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="/pro-view"><img src="images/A011_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色口色色进口女士钱包<span>女长款皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="/pro-view"><img src="images/A011_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="/pro-view"><img src="images/A015_00.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="/shop/pro_view"><img src="images/7.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
      <div class="inline_two bd1"><a href="/pro-view"><img src="images/8.jpg" alt="" class="pct100 p5"></a>
        <h2>2女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="/shop/pro_view"><img src="images/1.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="/pro-view"><img src="images/5.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色口色进口女士钱金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
      <div class="inline_two mb4 bd1"><a href="/pro-view"><img src="images/4.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
      <div class="inline_two bd1"><a href="/pro-view"><img src="images/5.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女士钱包口女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two mb4 bd1"><a href="/pro-view"><img src="images/7.jpg" alt="" class="pct100 p5"></a>
        <h2>2NE1金色进口女包<span>女长款真皮时尚韩版皮夹</span></h2>
        <p class="price cr">￥299.00</p>
      </div>
      <div class="inline_two bd1"><a href="/pro-view"><img src="images/8.jpg" alt="" class="pct100 p5"></a>
        <h2>2女士钱包<span>女长款真皮时尚韩版皮夹</span></h2>
         <p class="price cr">￥299.00</p>
     </div>
    </div>
    </div>
      <div id="hbs"></div>
      {{name}}
      {{#each student}}
          {{#if name}}
              <tr>
                  <td>{{name}}</td>
                  <td>{{sex}}</td>
                  <td>{{age}}</td>
              </tr>
          {{/if}}
      {{/each}}
    <!--以下是页脚内容-->
    {{> footer}}

<script src="/js/swipe.js"></script>
<script id="ceshi" type="text/x-handlebars-template">

    {{#each student}}
        {{#if name}}
            <tr>
                <td>{{name}}</td>
                <td>{{sex}}</td>
                <td>{{age}}</td>
            </tr>
        {{/if}}
    {{/each}}

</script>
<script>
    var slider =
  Swipe(document.getElementById('slider'), {
    auto: 3000,
    continuous: true,
    callback: function(pos) {
      var i = bullets.length;
      while (i--) {
        bullets[i].className = ' ';
      }
      bullets[pos].className = 'on';
    }
  });
var bullets = document.getElementById('position').getElementsByTagName('li');
</script>

