<h4>Example: Complex</h4>
 
 <p>
 The data that was passed to `res.render` is:
 <code><pre>
   var data = {
    name: 'Gorilla',
    address: {
      streetName: 'Broadway',
      streetNumber: '721',
      floor: 4,
      addressType: {
        typeName: 'residential'
      }
    }
  };
</pre></code>
 </p>
 
 <p>
 The template still has a <em>name</em> property, which is <b>{{name}}</b> (<code>&#123;&#123;name&#125;&#125;</code>).
 </p>
 
 <p>
 The template also has an <em>address</em> property that itself has other properties (<em>streetName</em>, <em>streetNumber</em>, etc.).
 If the template attempts to display the <em>address</em> property, though, the result is: <b>{{address}}</b> (<code>&#123;&#123;address&#125;&#125;</code>).
 </p>
 
 <p>
 In order to display the inner parts of <em>address</em>, you can use a dot ('.') to access them.
 To display the <em>streetname</em>, use: &#123;&#123;address.streetName&#125;&#125;, which prints: {{address.streetName}}.
 </p>
 
 <p>So, to print the entire address you'd do:<br>
 &#123;&#123;address.streetNumber&#125;&#125; &#123;&#123;address.streetName&#125;&#125;, Floor &#123;&#123;address.floor&#125;&#125; (Address Type: &#123;&#123;address.addressType.typeName&#125;&#125;).
<br>
And the result would be:
<b>{{address.streetNumber}}</b> <b>{{address.streetName}}</b>, Floor <b>{{address.floor}}</b> (Address Type: <b>{{address.addressType.typeName}}</b>).
</p>
 